<a href="https://colab.research.google.com/github/18K41A0565/Assignment-2/blob/master/Assignment_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                  **ASSIGNMENT-II**

**1.AREA OF TRIANGLE :**

In [ ]:
import math
a=float(input('Enter length of side of a triangle:\t'))
b=float(input('Enter length of side of a triangle:\t'))
c=float(input('Enter length of side of a triangle:\t'))
s=(a+b+c)/2
area=math.sqrt(s*(s-a)*(s-b)*(s-c))
print( 'Area of triangle is \t:',area)

Enter length of side of a triangle:	24
Enter length of side of a triangle:	30
Enter length of side of a triangle:	18
Area of triangle is 	: 216.0

**2.Palindrome**

In [ ]:
s=input('Enter a string:\t')
l=len(s)
ds=s[l::-1]
if s==ds:
  print(s,'is a palindrome')
else:
  print(s,'is not a palindrome')

Enter a string:	madam
madam is a palindrome

**3.Leap Year**

In [ ]:
year=int(input('Enter a year:\t'))
if year%4==0:
  print(year,'is a Leap year')
else:
  print(year,'Not a Leap year')

Enter a year:	2021
2021 Not a Leap year

 **4.Space to Hyphen problem:**

In [ ]:
str=input('Enter a string:\t')
s=str.replace(' ','-')
print(s)

Enter a string:	enter a string
enter-a-string

**5.Uniqe Sort problem**

In [ ]:
string=input('enter strings with a comma:\t')
st=string.split(',')
s=set(st)
q=sorted(s)
print(q)

enter strings with a comma:	orange, white, red, cyan, green, magenta, cyan, pink, white
[' cyan', ' green', ' magenta', ' pink', ' red', ' white', 'orange']

**6.TAX CALCULATOR**

In [ ]:
salary=float(input('Enter Monthly salary:\t'))
total=salary*12
if total<=1500000:
    tax=(25/100)*total
    if total<=1250000:
        tax=(20/100)*total
        if total<=1000000:
            tax=(15/100)*total
            if total<=750000:
                tax=(10/100)*total
                if total<=500000:
                    tax=(5/100)*total
                    if total<=250000:
                        tax=(5/100)*total
else:
    tax=(30/100)*total
print(tax)

Enter Monthly salary:	50000
60000.0

**7. Take a list of integers as an argument, and converts it into a single integer (return the integer).**

In [ ]:
L = [11, 33, 50]
x = int("".join(map(str, L)))
print("Single Integer: ",x)

Single Integer:  113350

**8. Units of Time**

In [ ]:
days    = int(input("Enter number of Days: "))
hours   = int(input("Enter number of Hours: "))
minutes = int(input("Enter number of Minutes: "))
seconds = int(input("Enter number of Seconds: "))
ts = days * 86400
ts = ts + ( hours * 3600)
ts = ts + ( minutes * 60)
ts = ts + seconds
print("Total number of seconds: ","%d"%(ts))

Enter number of Days: 6
Enter number of Hours: 28
Enter number of Minutes: 50
Enter number of Seconds: 16
Total number of seconds:  622216

**9. Sort 3 Integers**

In [ ]:
n1=int(input('Enter  number1:\t'))
n2=int(input('Enter  number2:\t'))
n3=int(input('Enter  number3:\t'))
n=[n1,n2,n3]
ma=max(n)
mi=min(n)
mid=(n1+n2+n3)-(ma+mi)
print("%d"%(mi),end=' ')
print("%d"%(mid),end=' ')
print("%d"%(ma),end=' ')

Enter  number1:	12
Enter  number2:	9
Enter  number3:	85
9 12 85

**10. DATE FORMAT**

In [ ]:
year = int(input("Input a year: "))
if (year % 4 == 0):
    leap_year = True
else:
    leap_year = False
month = int(input("Input a month [1-12]: "))
if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30


day = int(input("Input a day [1-31]: "))

if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

Input a year: 2020
Input a month [1-12]: 12
Input a day [1-31]: 31
The next date is [yyyy-mm-dd] 2021-1-1.

**11. Product of list of numbers**

In [ ]:
n=[45,3,2,89,72,1,10,7]
m=1
for i in n:
  m=m*i
print(m)

121111200

**12. Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output**

**Output: Out_list=[11,14,42,123,90]**

In [ ]:
l=[5,6,8,34,89,1]
n=[0]
sum=0
c=0
le=len(l)
for i in range(1,le):
  if i<le:
    sum=l[i-1]+l[i]
    if n[0]==0:
      n[0]=sum
    else:
      n.append(sum)
print(n)

[11, 14, 42, 123, 90]

**13.      Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output**

Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
tup=(5,6,8,3,9,1)
mul=1
flag=0
l=[0]
for i in tup:
  mul=mul*i
  n=mul
  if l[0]==0:
    l[0]=n
  else:
    l.append(mul)
#k=tuple(l)
print(l)

[5, 30, 240, 720, 6480, 6480]

**14.** Write a Python code that takes a number and returns a list of its digits.So
 for 586392 it should return [5,8,6,3,9,2]

In [ ]:
n=int(input('Enter  a number:\t'))
k=str(n)
l=list(k)
j=[0]
for i in l:
  li=int(i)
  if j[0]==0:
    j[0]=li
  else:
    j.append(li)
print(j)

Enter  a number:	586392
[5, 8, 6, 3, 9, 2]

**15. Write a program that finds the longest palindromic substring of a given string**

In [7]:
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : floorooried
ooroo

**16. Substring Check (Bug Funny)**

In [1]:
a=input("enter first binary string : ")
b=input("enter first substring to check : ")
a1=input("enter second binary string : ")
b1=input("enter second substring to check : ")
while ( b in a ):
  print("1")
  break
while ( b1 in a1 ):
  print("1")
  break
while (b not in a ):
  print("0")
  break
while ( b1 not in a1):
  print("0")
  break

enter first binary string : 1010110010
enter first substring to check : 10110
enter second binary string : 1110111011
enter second substring to check : 10011
1
0

**17. POUR1 - Pouring water**

In [10]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 5
Enter capacity of vessel b : 3
Enter capacity to be obtained :2
Minimum number of steps required is :  2
Enter capacity of vessel a : 2
Enter capacity of vessel b : 3
Enter capacity to be obtained :4
Minimum number of steps required is :  -1